<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Cours : {{ acourse.titre }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ acourse.description }}</p>
        <a routerLink="/course/update/{{ acourse.id }}" class="btn btn-primary" style="color: white;">Modifier le cours</a>
      </div>
    </div>
  <div class="row">
    <a routerLink="/course/{{ acourse.id }}/session/add" class="btn btn-primary" style="color: white;">Ajouter une séance</a>
  </div>
    <div class="row">
      <div *ngFor="let seance of acourse.seances" class="col-md-12">
        <h2>-- Séance : {{seance.titre}} --</h2>
        <p [innerHTML]="seance.contenu"></p>
        <a routerLink="/session/update/{{ seance.id }}" class="btn btn-primary" style="color: white;">Modifier la séance</a>
        <a (click)="delete_session(seance)" class="btn btn-danger" style="color: white;">Supprimer la séance</a>
      </div>
    </div>
  </div>
</div>
