<div class="py-5">
  <div class="container">
    <h1>Rendu de votre cours :</h1>
    <p>(Cette page n'est visible que par vous. Pour valider, retournez sur la page précédente.)</p>
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Cours : {{ titre_cours }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ description }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>-- Séance : {{ titre_seance}} --</h2>
        <p [innerHTML]="contenu"></p>
      </div>
    </div>
  </div>
</div>
