<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Liste de vos cours</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div  class="row">
      <div *ngFor="let course of courses" class="col-md-4">
        <div class="card" style="margin-bottom: 15px;">
          <div class="text-center"><img class="card-img-top" src="../../assets/images/{{ course.image }}" style="width: 200px;" alt="Card image cap"></div>
          <div class="card-body">
            <h5 class="card-title" [ngStyle]="{'color':course.actif==false ? '#dedede' : ''}">{{ course.titre }}</h5>
            <p class="card-text" [ngStyle]="{'color':course.actif==false ? '#dedede' : ''}">{{ course.description }}</p>
            <a [routerLink]="['/course/update',course.id]" class="btn btn-primary">Modifier le cours</a><br><br>
            <a (click)="onRemoveCourses(course)" class="btn btn-danger" style="color: white;">Supprimer le cours</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 p-3">
        <a class="btn btn-primary" routerLink="/course/add">Ajouter un cours</a>
      </div>
    </div>
  </div>
</div>
