<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Modifier votre mot de passe</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="">
          <div class="form-group">
            <label>Mot de passe actuel</label>
            <input type="password" class="form-control"> </div>
          <div class="form-group">
            <label for="newPassword">Nouveau mot de passe</label>
            <input type="password" class="form-control" id="newPassword">
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirmer le nouveau mot de passe</label>
            <input type="password" class="form-control" id="confirmNewPassword">
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>