<div class="py-5 text-center" style="background-image: url('../../assets/images/cover_event.jpg');">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-3 mb-4 text-primary">Trouvez le cours parfait !</h1>
        <p class="">Trouvez votre perle rare parmi des professeurs diplômés, évalués et disponibles.</p>
        <p class="">Réservez votre cours aujourd’hui. Les professeurs répondent dans la journée.</p>
        <p class="">En toute liberté Le premier cours est offert. Vous travaillez en direct au meilleur prix et sans intermédiaire.</p>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Derniers cours ajoutés</p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let course of courses" class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/{{ course.image }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ course.titre }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <a routerLink="/course/{{ course.id }}" class="btn btn-primary">Voir le cours</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div [froalaEditor] [(froalaModel)]="editorContent"></div>
<button (click)="onClickMe()">Click me!</button> -->

{{ clickMessage }}
