<div class="py-3" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Question</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="">
          <div class="form-group">
            <label for="exampleInputEmail1">Nouvelle question</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</div>
