<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Suivi de vos élèves</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="">
          <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select [(ngModel)]="selectedValue" id="exampleFormControlSelect1" class="custom-control custom-select" (change)="onChange()">
              <option *ngFor="let user of users" [ngValue]="user.id">{{user.nom}} - {{user.prenom}}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div *ngFor="let course of courses" class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4>Nom du programme</h4>
            <h6 class="text-muted">Nom de la séance</h6>
            <p>Note</p>
            <form class="form-inline">
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Graphe</h1>
      </div>
    </div>
  </div>
</div>
