<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="" >Suivi</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="followForm" (ngSubmit)="onFormSubmit(followForm.value)">
          <div class="form-group">
            <label>Note</label>
            <input formControlName="note" class="form-control" type="number" disabled="disabled" id="note"> </div>
          <div class="form-group">
            <label for="commentaire">Commentaire</label>
            <textarea formControlName="commentaire" class="form-control" id="commentaire" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>
