<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Connexion</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder=""> </div>
          <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" placeholder=""> </div>
          <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
      </div>
    </div>
  </div>
</div>
