<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Cours : {{ acourse.titre }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ acourse.description }}</p>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let seance of acourse.seances" class="col-md-12">
        <h2>-- Séance : {{seance.titre}} --</h2>
        <p [innerHTML]="seance.contenu"></p>
      </div>
    </div>
    <div class="row">
      <a class="btn btn-primary" [routerLink]="['/course/'+id+'/session/add']" style="color: white;">Ajouter une séance</a>
    </div>
  </div>
</div>