<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="" >Créer votre cours</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="courseForm" (ngSubmit)="onFormSubmit(courseForm.value)">
          <div class="form-group">
            <label>Nom du cours</label>
            <input formControlName="titre" id="titre" class="form-control"> </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>
