<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="" >Créer votre cours</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
            <label>Nom du cours</label>
            <input [(ngModel)]="titre_cours" id="titre_cours" class="form-control" value="{{ titre_cours }}">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="description" class="form-control" id="description" rows="3">{{ description }}</textarea>
          </div>
        <a (click)="addToLocal()" [routerLink]="['/step2']" class="btn btn-primary" style="color: white;" > Suivant </a>
      </div>
    </div>
  </div>
</div>
