<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Modifier une séance</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="sessionForm" (ngSubmit)="onFormSubmit(sessionForm.value)">
          <div class="form-group">
            <label for="titre">Nom de la séance</label>
            <input formControlName="titre" id="titre" class="form-control" value="{{ session.titre }}">
          </div>
          <div class="form-group">
            <label>Contenu</label>
            <div [froalaEditor] [(froalaModel)]="editorContent"></div>
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>