<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Modifier votre profil</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control"> </div>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom">
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" id="prenom">
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>