<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa d-inline fa-lg fa-cloud"></i>
      <b>&nbsp;AdopteUnProf</b>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <a class="btn navbar-btn ml-2 text-white btn-secondary" routerLink="/login">
        <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Connexion</a>

      <a class="btn navbar-btn ml-2 text-white btn-secondary" routerLink="/register">
        Inscription</a>
    </div>
  </div>
</nav>