<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Créer une séance</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="coursForm" (ngSubmit)="onFormSubmit(coursForm.value)">
          <div class="form-group">
            <label for="titre">Nom de la séance</label>
            <input formControlName="titre" id="titre" class="form-control"> </div>
          <div class="form-group">
            <label>Contenu</label>
            <div [froalaEditor] [(froalaModel)]="editorContent"></div>
          </div>
          <a (click)="preview()" [routerLink]="['/preview']" target="_blank" type="submit" style="color: black;" class="btn btn-primary">Prévisualier</a>
          <br><br>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>