<div class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-4">
        <h2 class="mb-4 text-secondary">AdopteUnProf</h2>
        <p class="text-white">Trouvez le cours parfait grâce au professeur parfait !</p>
      </div>
      <!--<div class="p-4 col-md-4">
        <h2 class="mb-4 text-secondary">Mapsite</h2>
        <ul class="list-unstyled">
          <a href="#" class="text-white">Home</a>
          <br>
          <a href="#" class="text-white">About us</a>
          <br>
          <a href="#" class="text-white">Our services</a>
          <br>
          <a href="#" class="text-white">Stories</a>
        </ul>
      </div>
      <div class="p-4 col-md-4">
        <h2 class="mb-4">Contact</h2>
        <p>
          <a href="tel:+246 - 542 550 5462" class="text-white">
            <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
        </p>
        <p>
          <a href="mailto:info@pingendo.com" class="text-white">
            <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
        </p>
        <p>
          <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
            <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-white">© Copyright 2018 AdopteUnProf -Tout droit réservés. </p>
      </div>
    </div>-->
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>