<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Inscription</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="" [formGroup]="subscribeForm" (ngSubmit)="onFormSubmit(subscribeForm.value)">
          <div class="form-group">
            <label>Email</label>
            <input formControlName="email" class="form-control"> </div>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input formControlName="nom" class="form-control" id="nom" >
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input formControlName="prenom" class="form-control" id="prenom">
          </div>
          <div class="form-group">
            <label for="tel">Téléphone</label>
            <input formControlName="tel" class="form-control" id="tel">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password" class="form-control"> </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirmer le mot de passe</label>
            <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm">
          </div>
          <div class="form-group">
            <input formControlName="actif" type="checkbox" id="actif">
            <label for="actif"> Vous êtes un professeur:</label>
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>